* {
    margin: 5px;
}

.root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputText {
    width: 50%;
}

.outputText {
    width: 50%;
}

.button {
    width: 100px;
    height: 40px;
}

.dialog {
    display: flex;
    margin: 20px;
    background-color: azure;
}

.text {
    width: 50vw;
}